[defaults]
inventory = ./inventory/stage1-hosts.ini
roles_path = ./roles
playbook_dir = ./playbooks
host_key_checking = False
retry_files_enabled = False
forks = 5
timeout = 30
log_path = ./logs/ansible.stage1.log

#stdout_callback = yaml
stdout_callback = default
display_skipped_hosts = False
deprecation_warnings = False

# SSH with multipass key
ssh_args = -i ../terraform/modules/ec2/worker1-key.pem -o ControlMaster=auto -o ControlPersist=3600s -o StrictHostKeyChecking=no
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -i ../terraform/modules/ec2/worker1-key.pem -o StrictHostKeyChecking=no
control_path = ./ssh_control/control_%h_%p_%r
