name: Build and Push Docker Image

on:
  push:
    branches: [main, dev-e3.1-gha-pipeline]
    paths:
      - 'e3.1-gha-pipeline/**'
      - '.github/workflows/docker-push-e3.1.yaml'

jobs:
  build:  # name of the job
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./e3.1-gha-pipeline/
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/express-app:v1.0.0

